<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobScrapper</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
</head>
<body>
    <main class="container"></main>
    <h1>Search Results for "{{keyword}}":</h1>
    <figure>
        <table role="grid">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Position</th>
                    <th>Jd</th>
                    <th>link</th>
                </tr>
            </thead>
            <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{job.company_name}}</td>
                <td>{{job.position}}</td>
                <td>{{job.job_description}}</td>
                <td><a href="{{job.link}}" target="_blank">Apply Now &rarr;</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </figure>
    </main>
</body>
</html> 